In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('state_primary_schools_wales.csv')

In [ ]:
schools_clean = df[['name', 'lat', 'lon', 'language', 'town_name']].copy()
df

In [14]:
schools_clean = schools_clean.dropna(subset=['lat', 'lon'])

In [15]:
schools_clean = schools_clean.dropna(subset=['name'])

In [ ]:
schools_clean = schools_clean.rename(columns={
    'name': 'School_Name',
    'lat': 'latX',
    'lon': 'longY',
    'language': 'Language',
    'town_name': 'Town'
})

In [17]:
schools_clean.to_csv('welsh_primary_schools_clean.csv', index=False)